{% load wagtailcore_tags wagtailimages_tags %}

<section class="trade-item-section">
    <h2>{{ value.heading }}</h2>
    {% if value.description %}
        {{ value.description }}
    {% endif %}

    <div class="trade-item-group">
        {% for item in value.items %}
            <figure class="trade-item" title="{{ item.name }}">
                <figcaption>
                    <div class="item-code">{{ item.code }}</div>

                    <select
                        class="select-trade-item"
                        data-code="{{ item.code }}"
                        data-name="{{ item.name }}"
                        data-price="{{ value.item_price }}"
                    >
                        <option value='0'>0</option>
                        <option value='6'>6</option>
                        <option value='12'>12</option>
                        <option value='18'>18</option>
                        <option value='24'>24</option>
                        <option value='30'>30</option>
                        <option value='36'>36</option>
                        <option value='42'>42</option>
                        <option value='48'>48</option>
                    </select>

                </figcaption>

                {% image item.image width-160 %}
                <figcaption class="item-name">
                    {{ item.name }}
                </figcaption>
            </figure>
        {% endfor %}
    </div>
</section>