{% load wagtailcore_tags wagtailimages_tags %}

<section class="trade-item-section">
    <h2>{{ value.heading }}</h2>
    {% if value.description %}
        {{ value.description }}
    {% endif %}

    <div class="trade-item-group">
        {% for item in value.items %}
            <figure class="trade-item" title="{{ item.name }}">
                <figcaption>
                    <span class="item-code">{{ item.code }}:</span>
                    <span class="item-name">{{ item.name }}</span>
                </figcaption>

                <div class="select-trade-item-wrapper">
                    <select class="select-trade-item" data-name="{{ item.code }}">
                        <option value='0'>0</option>
                        <option value='6'>6</option>
                        <option value='12'>12</option>
                        <option value='18'>18</option>
                        <option value='24'>24</option>
                    </select>
                </div>

                {% image item.image width-160 %}
            </figure>
        {% endfor %}
    </div>
</section>