{% extends "base.html" %}

{% block body_class %}trade-page{% endblock %}

{% block header %}Trade Access{% endblock %}

{% block content %}
<h1>Password required</h1>
        <p>You need a password to access this page.</p>
        <form class="password-form" action="{{ action_url }}" method="POST">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="password-input">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            {{ form.password.errors }}

            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            <input class="full-width" type="submit" value="Continue" />
        </form>
{% endblock %}
