{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}trade-page{% endblock %}

{% block header %}
    {{ page.title }}
{% endblock %}

{% block content %}
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    {% for block in page.body %}
        {{ block }}
    {% endfor %}

    <section>
        <h2>Order form</h2>
        <p>Select the cards from above, then fill in your details</p>
        <form id="order-form" action="." method="POST">
            {% csrf_token %}

            <div class="form-inputs">
                <div class="field-wrapper">
                    {{ form.name.errors }} {{ form.name.label_tag }} {{ form.name }}
                </div>
                <div class="field-wrapper">
                    {{ form.email.errors }} {{ form.email.label_tag }} {{ form.email }}
                </div>
                <div class="field-wrapper">
                    {{ form.delivery_address.errors }} {{ form.delivery_address.label_tag }} {{ form.delivery_address }}
                </div>
                <div class="field-wrapper">
                    {{ form.billing_address.errors }} {{ form.billing_address.label_tag }} {{ form.billing_address }}
                </div>
                <div class="field-wrapper">
                    {{ form.comments.errors }} {{ form.comments.label_tag }} {{ form.comments }}
                </div>
            </div>

            {{ form.order.as_hidden }}

            {% verbatim %}
                <div id="order-list">
                    <table v-if="totalQuantity > 0">
                        <thead>
                            <tr>
                                <th>Item code</th>
                                <th>Item name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, code) in order" v-if="item.amount !== '0'">
                                <td class="item-code">{{ code }}</td>
                                <td class="item-name">{{ item.name }}</td>
                                <td>{{ item.amount }}</td>
                                <td>£{{ item.price }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th>{{ totalQuantity }}</th>
                                <th>{{ formatPrice(totalPrice) }}</th>
                            </tr>
                        </tfoot>
                    </table>

                    <div>
                        <input type="submit" id="submit-form" class="hidden" />
                    </div>
                </div>
            {% endverbatim %}
        </form>
    </section>
{% endblock %}

{% block footer %}
    {% verbatim %}
        <footer role="footer" class="sticky-footer">
            <div id="order-footer">
                <div v-if="totalQuantity > 0">
                    {{ totalQuantity }} items for {{ formatPrice(totalPrice) }}
                    <input type="submit" form="order-form" />
                </div>
                <div v-else>
                    Select your cards
                </div>
            </div>
        </footer>
    {% endverbatim %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/dmcTrade.js' %}"></script>
{% endblock %}
