{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}trade-page{% endblock %}

{% block content %}
    <header>
        <img class="logo" src="/media/images/dmc_logo_crop.png"/>
        <h1>{{ page.title }}</h1>
    </header>

    <main role="main">
        {% for block in page.body %}
            {{ block }}
        {% endfor %}

        <section>
            <h2>Order form</h2>
            <p>Select the cards from above, then fill in your details</p>
            <form action="." method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <p><input type="submit" value="Submit order"></p>
            </form>
        </section>

    </main>

{% endblock %}